<div class="splash_image">
    <h1>JULFAKTA</h1>
</div>
<article>
    <% 
        article = 1
        i=1
        # In the array 1 place ref to image, then after that place 
        # the text that will be displayed
        facts = [
        "img/christmas-3006743_1920tree@0,75x.jpg", "3 miljoner svenska hushåll uppskattas ha julgran under julen.", 
        "https://picsum.photos/200/300/", '173 00 Tomteboda är Tomtens adress. Dit skickas varje år 100 000 brev och önskelistor. <br> Annars brukar tomtens stad vara Rovaniemi som marknadsför sig som "The official hometown of Santa Claus"', 
        "https://picsum.photos/200/300/", "3000 * ljusets hastighet måste Tomten färdas i på julafton för att hinna dela ut alla julklappar i tid.", 
        "https://picsum.photos/200/300/?blur", "Julgranen är även känd som Yule-träd. <br> Yule träden går till baka till Paganismens traditioner. Trädet av liv, brukar trädet kallas och dekorationerna skulle symbolisera solen, månen och stjärnorna.", 
        "https://picsum.photos/200/300/", "Julgranar dekorerades till en början med mat. Exempelvis äpplen, nötter, eller russin.",
        "https://picsum.photos/200/300/", "Har du någonsin undrar om varför vi säger X-Mas? <br> X är en symbol för Christ i Grekland so för att korta ned ordet Christmas så använder folk X-Mas.",
        "https://picsum.photos/200/300/", "Oklahoma i USA, blev den sista staten att declareara Jul en laglig helgdag. Detta var år 1907", 
        "https://picsum.photos/200/300/", 'Traditionen med att ge "stygga" barn kolbitar i deras julstrumpor kom ursprungligen ifrån Italien' ]
        
        while article<=(facts.length/2)
    %>
    <div class="facts_<%=article%> facts">
        <img src="<%=facts[i-1]%>" alt="">
         <div class="facts_text"><%=facts[i]%></div>
    </div>
    <%
            article += 1
            i += 2
        end
    %>
</article>