<div class="calendar_background" onclick="calendarReveal('close')"></div>

<div class="countdown">
    <p>Det 채r enbart</p>
    <div class=" time_left">
        <p>NaN:NaN:NaN:NaN</p>
    </div>
    <div class="textblock">
        <p>Kvar till aftonen<br></p> 
        <p>Men 채r det en Jul dag eller Hjul dag idag?<br>L책t kalendern s채ga dig det.</p> 
    </div>
</div>
<div class="calendar">
</div>
<% 
data = YAML.load_file('data/calendar.yaml')
@calendar_content = data['calendar']['content']
@calendar_content.each do |variable|
%>
    <div class="calendar_content" id="calendar_content_<%=variable['date']%>">
        <img src="img/<%=variable['img']%>" alt="<%= variable['alt']%>">
        <div class="calendar_content_text"><%=variable['content']%></div>
    </div>

<%
end
%>