.deals_wrapper
    display: flex
    justify-content: center
    align-items: center
    width: 100%

.deals
    margin-top: 50px
    width: 100%

.deals_content
    background-color: $facts-backround-color
    min-height: 50px
    margin-left: 4vw
    margin-right: 4vw
    margin: 0
    display: grid
    grid-template-columns: 20% auto
    grid-template-rows: auto auto
    grid-template-areas: 'img description' 'img price'
    grid-gap: 10px
    border-bottom: solid 2px rgba(0,0,0, 0.7)
    border-radius: 2px
    img
        grid-area: img
        padding-top: 5px
        padding-bottom: 5px
        max-width: 100%
        max-height: 100%

.deals_content:nth-last-child(1)
    border-bottom: none

.deals_content_text
    padding-top: 5px
    padding-bottom: 5px
    grid-area: description
    h3
        margin: 0
    p
        margin: 3px 0 0 0

.deals_price
    grid-area: price
    color: $currently-selected-color 
    text-align: right
    padding-right: 10%
    font-size: 1.3rem
    p
        font-size: 0.7rem
        color: white
        margin: 0
    /* ----------- Desktop ----------- */
    @media only screen and (min-width: $width-desktop)
        font-size: 1.8rem
        p
            font-size: 0.85rem

.deals_dropdown
    background-color: $content-background-color
    cursor: pointer
    position: absolute
    top: 76px
    left: 4vw
    border-radius: 2px
    font-size: 1.3rem
    display: flex
    justify-content: center
    align-items: center
    p
        margin: 0 0 0 5px       
    i
        font-size: 2.5rem
    /* ----------- Desktop ----------- */
    @media only screen and (min-width: $width-desktop)
        top: 85px

.deals_dropdown_menu
    background-color: $content-background-color
    
    position: absolute
    top: 110px
    left: 4vw 
    height: 0
    overflow: hidden
    font-size: 1.2rem
    transition: all 0.2s
    border-radius: 2px
    /* ----------- Desktop ----------- */
    @media only screen and (min-width: $width-desktop)
        top: 124px
    ul
        margin: 5px
        padding: 0
        a
            text-decoration: none
            color: $text-color

.show_menu
    height: auto !important