.splash_image
    padding-top: 15px
    height: 6rem
    width: 100%
    h1
        padding-left: 30px

article
    padding: 0.3rem
    width: 100%
    // background-color: rgba(0, 0, 0, 0.41)
    font-size: 1.1rem
    /* ----------- Desktop ----------- */
    @media only screen and (min-width: $width-desktop)
        display: flex
        flex-wrap: wrap

.facts
    background-color: $facts-backround-color
    border-radius: 3px
    margin-top: 10px
    padding: 10px 0 10px 0
    display: grid
    grid-template-rows: auto
    grid-gap: 20px
    grid-template-columns: 90px auto
    grid-template-areas: "article_image article_text"
    /* ----------- Desktop ----------- */
    @media only screen and (min-width: $width-desktop)
        width: 49.6%
        &:nth-child(2n)
            margin-left: 10px 

    img
        padding: 5px
        border-radius: 15px
        grid-area: article_image
        width: 80px
        height: 80px
.facts_text
    padding: 5px 5px 5px 5px
    grid-area: article_text