header
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    background-color: $header-background-color
    position: sticky
    top: 0
    left: 0
    z-index: 9995
    .material-icons
        font-size: 2.5rem
        display: block
        position: absolute
        top: 0.83rem
        left: 10px
        cursor: pointer
    a
        text-decoration-line: none
        color: $link-color
        text-align: center
    img
        transition: all 1s
        width: 60px
        height: 60px
            /* ----------- Desktop ----------- */
        @media only screen and (min-width: $width-desktop)
            width: 5rem
            height: 5rem
        
