body
    margin: 0
    min-height: 100vh
    background-image: url("../img/art-blurred-blurry-383646_1080_720.jpg")
    background-size: cover
    background-repeat: no-repeat

    
@import 'header.css.sass'
@import 'nav.css.sass'
@import 'countdown.css.sass'
@import 'calendar.css.sass'
@import 'facts.css.sass'
@import 'footer.css.sass'