@charset "UTF-8";
header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 41, 0.9);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9995; }
  header .material-icons {
    font-size: 2.5rem;
    display: block;
    position: absolute;
    top: 0.83rem;
    left: 10px;
    cursor: pointer; }
  header a {
    text-decoration-line: none;
    color: white;
    text-align: center; }
  header img {
    transition: all 1s;
    width: 60px;
    height: 60px¨;
    /* ----------- Desktop ----------- */ }
    @media only screen and (min-width: 1224px) {
      header img {
        width: 5rem;
        height: 5rem; } }

.nav_active {
  top: 0px !important;
  left: 0px !important; }

.nav_menu {
  z-index: 10001;
  position: fixed;
  top: 0px;
  left: -110vw;
  min-width: 175px;
  max-width: 100vw;
  height: 100vh;
  background-color: #000029;
  transition: all 0.3s; }
  .nav_menu .material-icons {
    position: absolute;
    top: 0.83rem;
    left: 10px;
    font-size: 2.5rem;
    transition: all 0.35s; }
  .nav_menu i {
    cursor: pointer; }
  .nav_menu ul {
    padding: 5px;
    margin: 0;
    margin-top: 60px; }
    .nav_menu ul ul {
      margin-top: 0;
      font-size: 1.5rem; }
      .nav_menu ul ul a {
        text-decoration: none;
        color: #28B0E2; }

.nav_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: -100vw;
  background-color: rgba(0, 0, 0, 0.625);
  z-index: 9999; }

.nav_background_active {
  left: 0px; }

.nav_current {
  background-color: #FFCD24; }
  .nav_current a {
    color: black !important; }

.nav_icon_active {
  left: 145px !important; }

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.4rem; }
  .countdown .time_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .countdown .time_left p {
      font-size: 2.6rem;
      margin: 4px;
      text-align: center; }

.textblock {
  margin: 12px; }

.calendar {
  display: flex;
  flex-wrap: wrap;
  min-height: 40px;
  justify-content: center;
  align-items: center; }
  .calendar a {
    color: #28B0E2; }
  .calendar .door {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 41, 0.9);
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 2px solid;
    border-color: #010d2b;
    transition: background-color 0.8s; }

.disabled:hover, .disabled:active {
  background-color: rgba(255, 0, 0, 0.65);
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: none;
  -webkit-backface-visibility: none;
  perspective: 1000px;
  -webkit-perspective: 1000px; }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
.calendar_content {
  width: 80vw;
  min-height: 100px;
  display: none;
  position: fixed;
  top: 50%;
  left: 10vw;
  background-color: #01015c;
  margin-top: -50px;
  border-radius: 15px; }
  .calendar_content img {
    grid-area: "image";
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 15px; }
  .calendar_content .calendar_content_text {
    margin: 10px 5px 10px 5px;
    grid-area: "text";
    text-align: center;
    z-index: 9997; }

.calendar_content_active {
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: auto;
  grid-template-areas: "image text"; }

.calendar_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.625);
  display: none; }

.calendar_background_active {
  display: block; }

.splash_image {
  padding-top: 15px;
  height: 6rem;
  width: 100%; }
  .splash_image h1 {
    padding-left: 30px; }

article {
  padding: 0.3rem;
  font-size: 1.1rem;
  /* ----------- Desktop ----------- */ }
  @media only screen and (min-width: 1224px) {
    article {
      display: flex;
      flex-wrap: wrap; } }

.facts {
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-columns: 90px auto;
  grid-template-areas: "article_image article_text";
  /* ----------- Desktop ----------- */ }
  @media only screen and (min-width: 1224px) {
    .facts {
      width: 49.6%; }
      .facts:nth-child(2n) {
        margin-left: 10px; } }
  .facts img {
    padding: 5px;
    border-radius: 15px;
    grid-area: article_image;
    width: 80px;
    height: 80px; }

.facts_text {
  padding: 5px 5px 5px 5px;
  grid-area: article_text; }

footer {
  width: 100%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  margin: 0;
  min-height: 100vh;
  min-width: 200px;
  background-image: url("../img/art-blurred-blurry-383646_1080_720.jpg");
  background-repeat: no-repeat;
  color: #28B0E2;
  background-size: cover;
  background-position-x: -720px;
  /* ----------- Smartphone > mini Tablet ----------- */
  /* ----------- Smartphone > large Tablet ----------- */
  /* ----------- Desktop ----------- */ }
  @media only screen and (min-width: 570px) {
    body {
      background-position-x: -200px; } }
  @media only screen and (min-width: 1000px) {
    body {
      background-position-x: -50px; } }
  @media only screen and (min-width: 1224px) {
    body {
      background-position-x: 0; } }

a {
  color: white;
  text-decoration: none; }
